

// add a new trip

@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.addTrip__main {
  display: flex;
  flex-direction: column;
  padding: 3em 0;
  width: 100%;
  height: auto;
  max-width: 768px;
  margin: 0 auto;
}

.input_group {
  position: relative;
  margin-bottom: 1.5rem;

  input {
    width: 100%;
    padding: 1rem 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;

    &:focus {
      border-color: $label-blue;
    }

    // &:focus + label - when input is focused, target the next sibling label
    // &:not(:placeholder-shown) + label - when input is not showing a placeholder, so user is typing
    // target the next sibling label
    // &:focus + label - when the user clicks of focuses on input, apply these styles to it's label
    &:focus + label,
    &:not(:placeholder-shown) + label {
      top: -0.6rem;
      left: 0.5rem;
      font-size: 0.75rem;
      color: $label-blue;
      background: white;
      padding: 0 0.25rem;
    }
  }
  // pointer-events prevents user from interacting with the label
  // otherwise clicking on label would focus
  label {
    position: absolute;
    left: 0.75rem;
    top: 1rem;
    color: #777;
    pointer-events: none;
    transition: all 0.3s ease;
  }
}

.addTrip_btn {
  @include custom-button(#9f2205, white);
  width: 100%;
  font-size: 1em;
  padding: 1em;
  font-weight: 600;

  &:hover {
    background-color: rgb(2, 80, 2);
  }
}

.trip_type_dropdown {
  width: 100%;
  padding: 0.8rem 0.5rem;
  font-size: 1rem;
  color: #777;
  border-radius: 5px;
  font-family: "Volkhov";
  border: 1px solid #ccc;
}
