// edit page

@use "../mixins.scss" as *;
@use "../globals.scss" as *;
@use "../variables.scss" as *;

.editTrip__main {

  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  .editTrip__form {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-width: 768px;
    padding: 2em 0;
    gap: 3em;

    .input__group {
      display: flex;
      flex-direction: column;
      position: relative;

      input {
        width: 100%;
        padding: 1rem 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;

        &:focus {
          border-color: $label-blue;
        }

        &:focus + label,
        &:not(:placeholder-shown) + label {
          top: -1.5rem;
          left: 0rem;
          font-size: 0.9rem;
          color: $label-blue;
          background: white;
          padding:  0.5rem;
          border-radius: 5px;
        }
      }

      

      label {
        position: absolute;
        left: 0.75rem;
        padding: 1em;
        top: 0rem;
        color: #777;
        pointer-events: none;
        transition: all 0.3s ease;
      }
      
    }
    .addTrip-btn {
      @include custom-button(#9f2205, white);
      width: 100%;
      font-size: 1em;
      padding: 1em;
      font-weight: 600;

      &:hover {
        background-color: rgb(2, 80, 2);
      }
    }
  }
  

  .trip_type-dropdown {
    width: 100%;
    padding: 0.8rem 0.5rem;
    font-size: 1rem;
    color: #777;
    border-radius: 5px;
    font-family: "Volkhov";
    border: 1px solid #ccc;
  }
}

//trip successfully modified message

.tripSuccessMsg {
  color: rgb(7, 109, 7);
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: opacity 0.5s ease;
  text-align: center;
}
