// single trip styles
@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.item {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 2em;
  position: relative;
  align-items: center;
  gap: 3em;
  color: $dark-blue;

  .item__container {
    @include flex-column;
    border-radius: 5px;
    padding: 2em 1em;
    gap: 1.5em;
    background-color: whitesmoke;
    z-index: 1;
    width: 100%;
    max-width: 768px;

    .item__container_heading {
      border-top: 1px solid $link-hover;
      padding-top: 0.5em;
      
    }

    .item__container_location {
      display: flex;
      align-self: flex-end;
      align-items: center;
      padding: 0 1em;
      // location icon
      svg {
        color: rgb(53, 81, 157);
      }
    }

    .item__container_description {
      color: $dark-blue;
      border-top: 1px solid $link-hover;
      padding-top: 1em;
    }
  }

  .item__container_type_btns {
    display: flex;
    justify-content: space-between;

    .edit_delete_btns {
      display: flex;
      gap: 1em;
      

      button {
        background-color: inherit;
        color: $orange-custom;

        &:hover {
          color: $dark-blue;
        }
      }
    }
  }

  .item__container_type_btns button {
    font-size: 1.5em;
  }

  .prev__next__btns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    z-index: 10;
    
    
  .prev__btn,
  .next__btn {
    background-color:inherit;
    font-size: 2em;
    padding: 0.5em;
    color: $dark-blue;
    border: 1px solid $orange-custom;
    display: flex;
    border-radius: 50px;
    color: white;

      &:hover {
      color:$green-custom;
    }
    }
  }
}


