@use "../mixins.scss" as *;
@use "../variables.scss" as *;
.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 768px;
  color: white;
  min-height: 90vh;
  margin: 0 auto;
  
  .page__date {
    text-align: end;
    padding: 1em;
    font-size: 0.75em;
    border-radius: 5px;
    color: white;
  }

  // simple switch (switches between all trips and upcoming trips)
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    //transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    //transition: 0.4s;
  }

  input:checked + .slider {
    background-color: $orange-custom;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  .slider.round {
    border-radius: 50px;
  }
  .slider.round:before {
    border-radius: 50%;
  }

  .page__filter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em;

    .page__filter_switch {
      display: flex;
      align-items: center;
      gap: 1em;
      font-size: 0.75em;
      font-weight: 600;
    }
    
  }

  .page__heading_main {
    text-align: center;
    color: white;
    padding: 1em;
    font-size: 1.3em;
    // background-image: linear-gradient(to right,#ca831e, #d3370c);
    background-color: #d3370c;
    border-radius: 5px;
    margin: 1em 0;
    
  }

  .page__add {
    @include custom-button(rgb(13, 78, 113), white);
    margin: 2em auto;
    padding: 0.5em;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 50%;

    &::before {
      background-color: $green-custom;
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      top: 0;
      left: 0;
      transition: width 0.5s ease;
      z-index: -1;
    }

    span {
      position: relative;
      z-index: 1;
    }

    &:hover::before {
      width: 100%;
    }
  }

  .no_trips{
    text-align: center;
    margin: 3em;
    color: white;
  }
}

.page__months_container {
  display: flex;
  flex-direction: column;
  border: 0.5px solid $border-orange;
  border-radius: 5px;
  padding: 1em;
      background-image: linear-gradient(to bottom, rgb(9, 17, 33),rgb(0, 8, 11));

  .page__months_heading {
    background-image: linear-gradient(to right, #b93f1d, #ca831e);
    
    color: white;
    padding: 1em;
    border-radius: 5px 5px 0 0;
    font-size: 1.2em;
  }

  .trip_list_item {
    position: relative;
  }

  .page__month_item {
    display: block;
    padding: 2em 1em;
    flex-direction: column;
    line-height: 1.5;
    border: 0.5px solid $border-orange;
    color: black;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
    color: inherit;
    
    &:last-child {
      border-radius: 0 0 5px 5px;
    }

    .page__month_item-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5em;
    }

    &:hover {
      box-shadow: 0px 0px 10px 3px $orange-custom;
    }

    .page__month_item_body {
    
      display: flex;
      
      justify-content: space-between;

      .page__month_item_destination {
        display: flex;
        align-items: center;
        margin-left: 0.25em;
      }
      .page__month_item_destination svg {
        color: rgb(53, 81, 157);
      }
    }
  }

  .page__month_item_clear {
    position: absolute;
    top: 0em;
    right: 0em;
    background: transparent;
    border: none;
    color: $orange-custom;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.4s;
    transform-origin: center;
    display: inline-block;
    padding: 1em;

    svg {
      color: red;
      display: block;
      transform-origin: center; // rotate around center, otherwise it rotates left and down
      transition: transform 0.4s ease, color 0.4s ease, font-size 0.4s ease;

      &:hover {
        transform: rotate(-60deg) scale(1.2);
        
      }
    }
  }
}

