@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.login__main {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  gap: 3em;
  margin: 3em auto;
  width: 100vw;
  min-height: 90vh;
  
  

  .login__form {
    box-shadow: 0 0 5px 5px $link-hover;
    border-radius: 10px;
    background-image: url('/assets/plane.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em 2em;
    max-width: 480px;
    width: 100%;
    align-self: center;

    // for the background image
    &::before {
    content: "";
    position: absolute;
    inset: 0; // shorthand for top:0; right:0; bottom:0; left:0;
    background-color: white; // or any color you want as a "veil"
    opacity: 0.8; // controls transparency level
    z-index: 0;
  }
  


    .user__input_group {
      position: relative;
      width: 100%;

      input {
        flex: 1;
        padding: 1em;
        padding-right: 3em;
        width: 100%;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 0px 10px 1px gainsboro;
        background: white;

        &:focus {
          outline: none;
        }
      }

      label {
        position: absolute;
        left: 1em; // distance from left edge
        top: 50%; // vertically center
        transform: translateY(-50%); // center properly
        transition: 0.3s all ease;
        color: $dark-blue;
        pointer-events: none;
        padding: 0 0.2em;
      }

      input:focus + label,
      input:not(:placeholder-shown) + label {
        top: -15px;
        left: 0;
        font-size: 0.8em;
        color: $orange-custom;
      }
    }

    .error_msg {
      color: red;
      font-weight: 100;
      font-size: 0.9em;
      z-index: inherit;
    }
  }

  .login__btn {
    position: relative;
    overflow: hidden;
    background-color: $orange-custom;
    color: white;
    padding: 1em 2em;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0px 3px 1px 1px rgb(233, 233, 233);
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 0; // needed to erstablish a stacking context
    width: fit-content;
    align-self: center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: $green-custom;
      border-radius: 30px;
      transition: width 0.4s ease-out;
      z-index: -1;
    }

    span {
      position: relative;
      z-index: 1;
    }

    &:hover::before {
      width: 100%;
    }
  }
   > * { // make text sit above the image
    position: relative;
    z-index: 1;
  }
  
}


.register__main {
    display: flex;
    justify-content: center;
    opacity: 1;
    gap:1em;
  
    a{
      text-decoration: underline;
      color: white;
    }
  }
.success_msg {
  color: green;
  margin-top: 0.5em;
}
