// @use "./mixins.scss" as *; // without *, i'd need to write @include mixins.custom-button
// @use "./variables.scss" as *;
// @use "./responsive.scss";

// remove default styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

button {
  border: none;
  background-color: white;
}

button:hover {
  cursor: pointer;
}

body {
  width: 100%;
  font-family: var(--font-volkhov), sans-serif;
  
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


//  margin auto: centers the elemeny only if it has a width smaller than it's container
// and is a block element

// not signed in message
.not-signed-in{
  padding: 2em;
  text-align: center;
}