// remove default styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

button {
  border: none;
  background-color: white;
}

button:hover {
  cursor: pointer;
}

body {
  position: relative;
  width: 100%;
  color: white;
  font-family: var(--font-libre_caslon_text), sans-serif;
  background-image: linear-gradient(to bottom, rgb(2, 22, 29), rgb(9, 17, 33));
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

//  margin auto: centers the elemeny only if it has a width smaller than it's container
// and is a block element

// not signed in message
.not-signed-in {
  padding: 2em;
  text-align: center;
}

//loading item message

.loading__item {
  color: white;
  display: flex;
  height: 100vh;
  justify-self: center;
  align-items: center;
  text-align: center;
}
