// remove default styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

}

a:hover {
  cursor: pointer;
}

button {
  border: none;
  background-color: white;
}

button:hover {
  cursor: pointer;
}

body {
  position: relative;
  color: white;
  font-family: var(--font-spectral), sans-serif;
  font-weight: 300;
  background-image: linear-gradient(to bottom, rgb(0, 8, 11), rgb(9, 17, 33));
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

//  margin auto: centers the elemeny only if it has a width smaller than it's container
// and is a block element

// not signed in message
.not-signed-in {
  padding: 2em;
  text-align: center;
}

//loading item message

.loading__item {
  display: flex;
  justify-content: center;   // horizontally center
  align-items: center;       // vertically center
  height: 100vh;             
  text-align: center;
  color: white;
}

// breadcrumbs
.nav__container{
  color: white;
  display: flex;
  gap: 1em;
  a{
    color: white;
    &:hover{
      text-decoration: underline;
    }
  }
}
