// mixins = reusable blocks of CSS, similar to a function
// define a set of styles once
// reuse the set of styles anywhere, optionally passing parameters

// define a mixin
// @mixin mixin-name{
//     property:value;
// }

// use the mixin
// .selector {
//     @include mixin-name;
// }

// ex

// @mixin rounded{
//     border-radius: 10px;
//     padding: 1rem;
//     box-shadow: 0 2px 5px rgba(0,0,0,0.1);
// }

// .card {
//     @include rounded;
//     background-color: white;
// }

@mixin custom-button($bg-color, $text-color: white) {
  padding: 1em;
  background-color: $bg-color;
  border-radius: 5px;
  margin: 1em 0;
  font-size: 1.5em;
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin card-style($color, $box-shadow-color) {
  border: 1px solid $color;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px $box-shadow-color;
}
