@use "./mixins.scss" as *;
@use "./variables.scss" as *;

// Navbar

.navbar__main {
  @include card-style(rgb(185, 178, 178), rgb(0, 0, 0));
  max-width: 768px;
  width: 100%;
  margin: 1em auto; // centers it horizontally
  padding: 1em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid $border-orange;

  a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: white;
  }
}

.logout_btn {
  color: white;
  background-color: inherit;
  font-size: 1.5em;
  display: flex;
  align-self: center;

  &:hover {
    color: $orange-custom;
  }
}
