@use "./mixins.scss" as *;
@use "./globals.scss" as *;
@use "./responsive" as *;
@use "./variables.scss" as *;

// Navbar

.navbar__main {
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid $border-orange;
  box-shadow: 0px 0px 5px 5px rgb(231, 229, 227);
  
  a{
    display: flex;
    align-items: center;
    gap: 0.5em;
    
  }

  svg{
    
  }


  .logout--btn{
    
    background-color: inherit;
    font-size: 1.5em;
    display: flex;
    align-self: center;

    &:hover{
      color: $orange-custom;
    }
  }
  
}